<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Geekhub_Lesson9::cron_job_management"
             title="Cron Job Management"
             translate="title"
             module="Geekhub_Lesson9"
             sortOrder="50"
             parent="Magento_Backend::stores_settings"
             action="lesson9/cron/index"
             resource="Geekhub_Lesson9::cron_job_management"/>
    </menu>
</config>
