<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="geekhub" translate="label" sortOrder="10">
            <label>GeekHub</label>
        </tab>
        <section id="geekhub_crone_options" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Crone Job Management Options</label>
            <tab>geekhub</tab>
            <resource>Geekhub_Lesson9::cron_job_management_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="yesnocustom_example" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yesnocustom Example</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesnocustom</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="frequency_example" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frequency Example</label>
                    <source_model>Magento\AdminNotification\Model\Config\Source\Frequency</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="timeformat_example" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>TimeFormat Example</label>
                    <source_model>Magento\Catalog\Model\Config\Source\TimeFormat</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="cron_frequency_example" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Frequency Example</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="display_text" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Text Example</label>
                    <backend_model>Geekhub\Lesson9\Model\Config\Backend\Custom</backend_model>
                    <comment>Only text and minimum 5 letters</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="display_text_dis" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Text Disable Example</label>
                    <frontend_model>Geekhub\Lesson9\Model\Config\Backend\Form\Field\Disable</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="dynamic_items" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Responsive Items</label>
                    <frontend_model>Geekhub\Lesson9\Block\Adminhtml\Form\Field\DynamicItems</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Add Responsive Items</comment>
                </field>
            </group>
        </section>
    </system>
</config>