<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_catalog_product_view">
        <observer name="geekhub_requestsample"
                  instance="Geekhub\RequestSample\Observer\Catalog\Controller\Product\View\Predispatch"
        />
    </event>
    <event name="catalog_product_load_after">
        <observer name="geekhub_requestsample"
                  instance="Geekhub\RequestSample\Observer\Catalog\Model\Product\LoadAfter"
        />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="load_request_quote_handler" instance="Geekhub\RequestSample\Observer\LayoutGenerateBlocksAfter" />
    </event>
</config>
