<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="request_sample_populate_requests" xsi:type="object">
                    Geekhub\RequestSample\Console\Command\PopulateRequests
                </item>
            </argument>
        </arguments>
    </type>
</config>