//    Common
//--------------------------------------

//@screen__xxs: 320px;
//@screen__xs: 480px;
//@screen__s: 640px;
//@screen__m: 768px;
//@screen__l: 1024px;
//@screen__xl: 1440px;

////------------------------------------

& when (@media-common = true) {
    .catalog-product-view-tab-request-sample-form {
        .image-wrapper {
            background-color: magenta;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs){
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){
    .catalog-product-view-tab-request-sample-form {
        .image-wrapper {
            background-color: black;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .catalog-product-view-tab-request-sample-form {
        .image-wrapper {
            width: 70%;
            float: left;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs){

}